@import url("./navbar.css");
@import url("./resets.css");
@import url("./cards.css");
@import url("./buttons.css");
@import url("./modal.css");
@import url("./forms.css");
@import url("./search.css");

/*** reuse **/
.right 
{
    float: right;
    right: 0;
}
.current {
	color: #2262AD;
}
img 
{

	width: 100%;

}
/*** end reuse **/

/*** Main ****/
body { 
	font-size: 1.05em;
	line-height: 1.25em;
	font-family: Helvetica Neue, Helvetica, Arial;
	background: #f9f9f9;
	color: #555;
}

a {

	color: #4C9CF1;
	text-decoration: none;
	font-weight: bold;

}

/* landing picture */
.landing
{
    background:url('../images/cover.jpg');
    position: relative;
    margin-top: 10px;
    height: 70vh;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.welcome-note
{
    background-color: rgba(44, 122, 196, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
}
.welcome-note p
{
    text-align: left;
    position: absolute;
    color: #fff;
    font-family: 'Inconsolata', monospace;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
/* hr landing ads */
.hr-text {
    margin: 20px 0;
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: 0.5;
  }
  .hr-text:before {
    content: "";
    background: linear-gradient(to right, transparent, #3a3a38, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  .hr-text:after {
    content: attr(data-content);
    position: relative;
    border: 1px #acacac solid;
    border-radius: 25px; 
    display: inline-block;
    color: black;
    padding: 0 0.5em;
    line-height: 1.5em;
    color: #3b3b39;
    background-color: #fcfcfa;
  } 
main.container
{
    margin-top: 6rem;
}
.wrapper {
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
  margin: 10px 40px auto 60px;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.main {
  text-align: left;
}

.aside img
{
  height:200px;
  max-width: 200px;
}
.avatar
{
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin: 20px auto;

}
.hide{
  display: none;
}
.show{
  display: block;
}
/**** footer ***/
footer.footer
{
  margin-bottom: 0;
  width: 100%;
  position: absolute;
}
footer p 
{
  bottom: 0;
  padding: 0;
  margin: 0;
  height: 2rem;
  line-height: 3;
  font-size: 1rem;
  background-color: #dbd8d8;
  text-align: center;
}

/****media queries ***/
@media all and (min-width: 600px) {
  .aside { flex: 2 0 0; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .main    { order: 2; }
  .aside-2 { order: 4; }
}