.bg
{
    background-blend-mode: screen;
    background-image:url('../images/home3.jpg');
    position: relative;
    background-color: rgb(14, 10, 10);
    background-repeat: no-repeat;
    background-size: cover;
}
.login-modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.5);
}

.modal-content{
    background-color: #f4f4f4;
    margin: 10% auto;
    padding: 20px;
    width: 30%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
    animation-name: modelopen;
    animation-duration: 1s;
}

.closeBtn{
    color: #ccc;
    float: right;
    font-size: 30px;
}
.closeBtn:hover, .closeBtn:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
#popout {
    cursor: pointer;
}
@keyframes modelopen{
    from{opacity: 0;}
    to {opacity: 1;}
}